* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#header2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: aqua;
    margin-top: 20px;
}

#searchbar {
    /* display: flex; */
    /* align-self: flex-end; */
}

#name {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#header1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
}

p {
    color: black;
    font-weight: bold;
}

.links {
    font-size: large;
    /* color: black; */
    text-decoration: none;

}

a i {
    text-decoration: none;
}